@font-face {
  font-family: "Quentin";
  src: url("../assets/Quentin.ttf") format("truetype");
}

.heading-title p{
  font-size: 34px;
  color: #928d8d;
  padding: 32px;
}
.events >h1{
  text-align: -webkit-center;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Kite One', sans-serif;
}
.events-content{
  display: flex;
  width: 80%;
  margin-left: 10%;
}
.events-details{
  font-family: 'Kite One', sans-serif;
  margin-left: 5%;
  margin-bottom: 50px;
  margin-top: 2.6%;
}
.events-details p{
  padding: 10px;
  width: 436px;
  font-size: 22px;
  font-family: 'Kite One', sans-serif;
  color: #3a3838;
}
.events-details span{
  display: block;
  width: 400px;
  font-size: 14px;
  padding-top: 10px;
  color: #928d8d;
  font-family: 'Kite One', sans-serif;

}
.center-events-details{
  text-align: center;
}
.events-details ,.center-events-details p{
  width: 1288px; 
}
.events-details ,.center-events-details span{
  display: inline;

}
/* session section  */
.session-content-div{
  margin-top: 60px;
}
.session-content-text{
  display: block;
  width: 50%;
  padding-top: 124px;

}
.session-content-pargraph{
  font-size: 20px;
  color: #6f6d6d;
  padding: 10px;
  width: 90%;
}
.session-content-left-pargraph{
  display: block;
  width: 50%;
  padding-top: 124px;
  padding-left: 24px;
}
.right-video-div{
  width: 80%;
  display: flex;
  margin-left: 10%;
  margin-top: -11%;
}
.right-video{
  width: 760px;
  height: 480px; 
} 

@media only screen and (max-width:1300px){
  .session-title-div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
  }
  .right-video{
      width: 50%;
  }

}