.heading-title p {
  font-size: 25px;
  padding: 32px;
  margin-top: 25px;
}

.heading-title.location-heading {
  margin-top: 60px;
}

.events > h1 {
  text-align: -webkit-center;
  font-size: 25px;
  font-weight: bold;
  font-family: "Optima", sans-serif;
}
.events-details > a,
.center-events-details > a {
  font-size: 25px;
  display: inline;
  font-weight: bold;
  font-family: "Optima", sans-serif;
  color: #000000;
}
.events-content {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  flex-wrap: wrap;
  align-items: center;
}
.events-details,
.center-events-details {
  font-family: "Optima", sans-serif;
  margin-bottom: 0px;
  margin-top: 2%;
  max-width: 760px;
  /* width: 500px; */
}

.events-details p,
.center-events-details p {
  padding-top: 10px;
  font-size: 16px;
  font-family: "Optima", sans-serif;
}

.events-details span,
.center-events-details span {
  display: block;
  font-size: 18px;
  padding-top: 10px;
  color: rgb(85, 76, 76);
  font-family: "Optima", sans-serif;
}
.center-events-details {
  margin: 20px auto;
  width: fit-content;
  padding-top: 40px;
  max-width: 760px;
}

.events-details,
.center-events-details span {
  display: inline;
}
/* session section  */
.session-content-div {
  margin-top: 60px;
}
.session-content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 700px;
  padding-top: 1vh;
}
.session-content-pargraph {
  font-size: 16px;
  color: #6f6d6d;
  padding: 10px;
  width: 100%;
}

.right-video-div {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
  min-height: 350px;
}
#left-video-div {
  flex-wrap: wrap-reverse;
}

#left-video-div .session-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-video {
  width: 50%;
  min-width: 500px;
  min-height: 400px;
}

@media only screen and (max-width: 1300px) {
  .session-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 590px) {
  .events-details {
    padding: 20px;
  }
}
@media only screen and (max-width: 530px) {
  .right-video {
    width: 80%;
    min-width: 300px;
    min-height: 300px;
  }
}
