.heading-title p {
  font-size: 25px;
  color: #928d8d;
  padding: 32px;
}
.events > h1 {
  text-align: -webkit-center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Kite One', sans-serif;
}
.events-details > h1,
.center-events-details > h1 {
  font-size: 25px;
  display: inline;
  font-weight: bold;
  font-family: 'Kite One', sans-serif;
}
.events-content {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.events-details,
.center-events-details {
  font-family: 'Kite One', sans-serif;
  margin-bottom: 0px;
  margin-top: 2%;
}
.events-details p {
  width: 436px;
}

.events-details p,
.center-events-details p {
  padding: 10px;
  font-size: 21px;
  font-family: 'Kite One', sans-serif;
  color: #3a3838;
}
.events-details span,
.center-events-details span {
  display: block;
  width: 400px;
  font-size: 18px;
  padding-top: 10px;
  color: #928d8d;
  font-family: 'Kite One', sans-serif;
}
.center-events-details {
  margin: 20px auto;
  width: fit-content;
  padding: 40px;
  max-width: 600px;
}

.events-details,
.center-events-details span {
  display: inline;
}
/* session section  */
.session-content-div {
  margin-top: 60px;
}
.session-content-text {
  display: block;
  max-width: 700px;
  padding-top: 1vh;
}
.session-content-pargraph {
  font-size: 21px;
  color: #6f6d6d;
  padding: 10px;
  width: 90%;
}

.right-video-div {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  min-height: 350px;
}
#left-video-div{
  flex-wrap: wrap-reverse;
}

#left-video-div .session-content-text{
  padding-left: 60px; 
}
.right-video {
  min-width: 500px;
  min-height: 400px
}

@media only screen and (max-width: 1300px) {
  .session-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

