/* start carausel style */

.CSSgal {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin-top: 73px;
    margin-bottom: 50px;
  }
  
  .CSSgal .slider {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
  }
  
  .slider div {
    display: flex;
  }
  
  .slider img {
    width: 32.33%;
    height: 430px;
  }
  
  /* SLIDES */
  
  .CSSgal .slider > * {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    height: 500px;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
  }
  
  /* NAVIGATION */
  
  .CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  
  .CSSgal .bullets > a {
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* NAVIGATION BUTTONS */
  
  /* ALL: */
  
  #s1:target ~ .slider {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  
  #s2:target ~ .slider {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  
  #s3:target ~ .slider {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
  
  .CSSgal {
    color: #fff;
    text-align: center;
  }
  
  .CSSgal .slider h2 {
    margin-top: 40vh;
    font-weight: 200;
    letter-spacing: -0.06em;
    word-spacing: 0.2em;
    font-size: 3em;
  }
  
  .CSSgal .bullets a {
    border-radius: 50%;
    margin: 0 3px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #17423a;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    margin-left: 15px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 15px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #b1c9c5;
  }
  .slid-arrow {
    float: left;
  }
  
  .demo {
    opacity: 0.6;
    background: #ccc;
    width: 15px;
    height: 15px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
    background: #b1c9c5;
    width: 20px;
    height: 20px;
  }
  .slider-text {
    text-align: -webkit-center;
    margin: 70px 0px 0px 0px;
  }
  .slider-pargraph {
    color: #898989;
    text-align: -webkit-center;
    font-family: 'Kite One', sans-serif;
    font-size: 25px;
    width: 38%;
  }
  /* end carsouel style */

  .video-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 95%;
    margin: auto;
  }

  .video-gallery-content {
    width: 100%;
    height: 350px;
  }

  @media only screen and (max-width:1500px){
    .video-gallery{
      grid-template-columns: 1fr 1fr;
    }

  }

  @media only screen and (max-width:900px){
    .video-gallery{
      grid-template-columns: 1fr;
    }

  }