.top-section {
  width: 100vw;
  height: 717px;
  /* background: url('/assets/images/home.jpg'); */
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  top: 0;
}

header-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 50px;
}

.header-video iframe {
  object-fit: cover;
  object-position: center;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  height: calc(100vw * 0.5625);
  z-index: -1;
}

.top-section-text {
  position: absolute;
  left: 3%;
  bottom: 35%;
  font-family: 'Kite One';
  font-size: 2rem;
  background: #fff;
  width: 450px;
  padding: 10px;
  color: #912f00;
}
/* start who we are style */
.who-we-are-section {
  padding-top: 100px;
  margin-top: 80px;
}
.who-content {
  display: flex;
  width: 80%;
  margin-left: 10%;
}
.who-content-div {
  width: 50%;
}
.who-content-div .pargraph-left {
  font-size: 21px;
  width: 98%;
  color: #6f6d6d;
  margin-bottom: 72px;
  padding: 10px;
}
.who-content-div .pargraph-right {
  font-size: 21px;
  width: 98%;
  color: #6f6d6d;
  padding: 10px;
  margin-top: 9px;
  margin-left: 13px;
}
.who-content img {
  width: 100%;
  height: 300px;
}
/* end who we are style */

/* start testemonial style */
.testemonial {
  display: flex;
  flex-direction: column;
  background: url('../assets/images/testemonial.png') no-repeat center / cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 20px 0;
  height: 600px;
}
.over {
  position: absolute;
  background-color: rgba(234, 225, 225, 0.7);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}
.testemonial .heading-title h1::after {
  background-color: #143a48;
}
.testemonial-desc {
  font-size: 19px;
  text-align: -webkit-center;
}
.test-card {
  text-align: center;
  margin: auto;
}
.test-item-container {
  display: flex;
  justify-content: space-evenly; 
  width: 100%;
}
.item {
  margin-right: 10px;
}
.testemonial .test-info {
  background-color: #b1c9c5;
  padding: 20px 10px;
  color: #fff;
  height: 300px;
  display: block;
  height: 315px;
  width: 311px;
  /* box-shadow:  */
}

.testemonial .test-info .test-info-title {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.testemonial .test-info .test-info-span {
  color: #2c2f36;
  display: block;
  margin-bottom: 10px;
}
.test-info-desc {
  margin-top: 8%;
  width: 216px;
  margin-left: 13%;
}
/* end testemonial style */

/* start work-with-section style */
.work-with-section {
  margin: 88px 0;
}
.work-with-content-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}
.work-with-content-div img {
  width: 20vw;
  height: 14vw;
}
.work-with-content-div .work-with-content-image {
  height: 9vw;
}
/* end work-with-section style  */

/*start cards section */
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  height: 862px;
}

.cards-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  width: 40%;
  padding: 20px 0;
  height: 350px;
}

.cards-info-img1 {
 background-image: url("../assets/images/1.png");
 background-size: auto;
 background-repeat: no-repeat;


}
.cards-info-img2{
  background-image: url("../assets/images/2.jpg");
  background-size: auto 100%;
  background-position: center;
 background-repeat: no-repeat;
 
}
.overlay {
  background-color: rgba(234, 225, 225, 0.7);
}
.overlay p {
  color: #912f00;
  font-family: 'Kite One', sans-serif;
  font-size: 16px;
  text-align: -webkit-center;
  margin: 20px;
}
/*end cards section */

/*start partener section */
.partener {
  background-color: #b1c9c5;
  text-align: center;
  height: 249px;
  padding-top: 64px;
  margin-top: -312px;
}
.partener h2 {
  margin-top: -46px;
  font-size: 26px;
  padding: 10px 10px;
  color: #912f00;
  font-family: 'Kite One', sans-serif;
  line-height: 22px;
}

.partener p {
  font-size: 19px;
  width: 595px;
  text-align: -webkit-left;
  margin: 10px auto;
  color: #f7f0f0;
  font-family: 'Kite One', sans-serif;
}

.partener a {
  background: #ffffff none repeat scroll 0 0;
  color: #912f00;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1px;
  padding: 0px 17px 0px 23px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 42px;
  margin-top: 15px;
}
.partener a .fa {
  color: #912f00;
  font-size: 14px;
  border-left: 1px solid #d2d2d2;
  padding-left: 15px;
  margin-left: 20px;
  line-height: 42px;
}
.partener a:hover .fa {
  color: #912f00;
  border-color: #912f00;
}

.partener a:hover {
  background: #b1c9c5;
  color: #912f00;
  border-color: #912f00;
}

/*end partener section */
