/* Navbar specific for home page */

#navbar {
  background-color: rgba(255, 255, 255, 0.0);
  box-shadow: none;
}
.top-section {
  width: 100vw;
  height: 717px;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url("/assets/images/home-top.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

header-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 50px;
}

.header-video iframe {
  object-fit: cover;
  object-position: center;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  height: calc(100vw * 0.5625);
  z-index: 1;
}

.top-section-text {
  position: absolute;
  left: 2%;
  bottom: 1%;
  font-family: "Optima";
  font-size: 2rem;
  /* background: rgba(255, 255, 255, 0.7); */
  width: 600px;
  padding: 10px;
  color:  #104052;
  z-index: 5;
}

/* start who we are style */
.who-we-are-section {
  padding-top: 100px;
  margin-top: 80px;
}

@media only screen and (max-width: 1200px) {
  .top-section {
    margin-top: 100px;
  }
  .top-section-text {
    display: none;
  }
  .top-section {
    height: 60vw;
  }
  .who-we-are-section {
    padding-top: 0;
    margin-top: 30px;
  }
}

.who-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.who-content-div {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.who-content-div .pargraph-left {
  font-size: 16px;
  width: 98%;
  color: #6f6d6d;
  padding: 10px;
  max-width: 550px;
}
.who-content-div .pargraph-right {
  font-size: 16px;
  width: 98%;
  max-width: 550px;
  color: #6f6d6d;
  padding: 10px;
  margin-top: 9px;
  margin-left: 13px;
}
.who-content img {
  width: 60%;
  max-width: 550px;
  height: 300px;
  margin: 10px;
}

@media only screen and (max-width: 700px) {
  .who-content img {
    display: none;
  }
  .who-content {
    flex-direction: column;
  }
  .who-content-div {
    width: 100%;
  }
}

/* end who we are style */

/* start testemonial style */
.testemonial {
  display: flex;
  flex-direction: column;
  background: url("../assets/images/testemonial.png") no-repeat center / cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 40px 0;
}
.over {
  position: absolute;
  background-color: rgba(222, 222, 222, 0.7);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.testemonial .heading-title h1::after {
  background-color: #143a48;
}

.testemonial .heading-title,
.testemonial-desc {
  z-index: 2;
}
.testemonial-desc {
  font-size: 19px;
  text-align: -webkit-center;
}
.test-card {
  text-align: center;
  margin: auto;
}
.test-item-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.item {
  margin-right: 10px;
}
.testemonial .test-info {
  background-color: #b1c9c5;
  padding: 20px 10px;
  color: rgb(85, 76, 76);
  display: block;
  height: 400px;
  width: 311px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.testemonial .test-info .test-info-title {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.testemonial .test-info .test-info-span {
  color: #2c2f36;
  display: block;
  margin-bottom: 10px;
}
.test-info-desc {
  margin-top: 8%;
  width: 216px;
  margin: auto;
}
/* end testemonial style */

/* start work-with-section style */
.work-with-section {
  margin: 160px 0;
}
.work-with-content-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 60px auto;
}
.work-with-content-div img {
  width: 15vw;
  height: 12vw;
  min-width: 200px;
  min-height: 130px;
  margin: 10px;
}
.work-with-content-div .work-with-content-image {
  height: 7vw;
  min-height: 85px;
}
/* end work-with-section style  */

/*start cards section */
.cards {
  width: 90%;
  margin: 180px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  width: 25%;
  min-width: 340px;
  padding: 20px 0;
  height: 350px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards-info-img1 {
  background-image: url("../assets/images/1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cards-info-img2 {
  background-image: url("../assets/images/2.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay {
  background-color: rgba(234, 225, 225, 0.7);
}
.overlay p {
  color:  #104052;
  font-family: "Optima", sans-serif;
  font-size: 16px;
  text-align: -webkit-center;
  margin: 20px;
}
/*end cards section */

/*start partener section */
.partener {
  background-color: #b1c9c5;
  text-align: center;
  padding: 64px 0;
}
.partener h3 {
  margin-top: -46px;
  font-size: 26px;
  padding: 10px 10px;
  color:  #104052;
  font-family: "Optima", sans-serif;
  line-height: 22px;
}

.partener p {
  font-size: 18px;
  width: 85%;
  max-width: 700px;
  text-align: -webkit-left;
  margin: 10px auto;
  color: rgb(85, 76, 76);
  font-family: "Optima", sans-serif;
}

.partener a {
  background: #ffffff none repeat scroll 0 0;
  color:  #104052;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1px;
  padding: 0px 17px 0px 23px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 42px;
  margin-top: 15px;
}
.partener a .fa {
  color:  #104052;
  font-size: 14px;
  border-left: 1px solid #d2d2d2;
  padding-left: 15px;
  margin-left: 20px;
  line-height: 42px;
}
.partener a:hover .fa {
  color:  #104052;
  border-color:  #104052;
}

.partener a:hover {
  background: #b1c9c5;
  color:  #104052;
  border-color:  #104052;
}

/*end partener section */

@media only screen and (max-width: 1000px) {
  .CSSgal.slider-home {
    display: none;
  }
}
