.section {
  margin-top: 160px;
}

/*general css avalible for all pages*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: ltr;
  font-size: 100%;
  font-family: "Optima", sans-serif;
}
body {
  overflow-x: hidden;
}
/* start heading style */
.heading-title {
  margin-bottom: 70px;
  text-align: center;
}
.heading-title h1,
.heading-title h2 {
  display: block;
  line-height: 22px;
  font-size: xx-large;
  font-size: 50px;
}
.heading-title h1::after .heading-title h2::after {
  background: #b1c9c5 none repeat scroll 0 0;
  content: " ";
  display: inline-block;
  height: 2px;
  width: 70px;
}
.heading-title h1 span,
.heading-title h2 span {
  display: block;
  line-height: 1;
}

/* end heading style */

@font-face {
  font-family: "Quentin";
  src: url("../assets/Quentin.ttf") format("truetype");
}

@font-face {
  font-family: "Optima";
  src: url("../assets/OPTIMA.TTF") format("truetype");
}

.subheading_font {
  font-family: "Quentin";
  font-weight: 550;
}

/*start style of footer section*/

.footer {
  /* background-color: #191919; */
  border-top: 4px solid #104052;
  bottom: 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__container-left {
  font-size: 14px;
}

.footer__container a {
  padding: 13px;
  text-decoration: none;
  cursor: pointer;
}
.twitter-icon {
  color: #55acee;
}
.facebook-icon {
  color: #8b9dc3;
}
.instgram-icon {
  color: #d81154;
}

.footer__container ul {
  font-size: 30px;
  margin: 26px 46px;
  margin-bottom: 35px;
}
.footer__container .copyright {
  color: #ad9f9f;
  width: 100%;
  text-align: center;
}
.footer__container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 121px;
  padding-right: 5%;
}
.flex {
  display: flex;
}
.flex p {
  color: #ad9f9f;
  padding-left: 22px;
  font-size: 20px;
}
.flex i {
  font-size: 30px;
  color: #b1c9c5;
  margin: -2px 1px 6px 6px;
}

@media only screen and (max-width: 575px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
/*end style of footer section*/


/* navbar style */

.navbar {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); */
  flex-wrap: wrap;
}

.navbar-logo {
  width: 250px;
  margin: 10px;
}

.navbar-link {
  font-family: "Optima";
  margin: 0 15px;
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.navbar .navigation a:hover {
  color:  #104052;
}

/* burger menu */
.burger, .navbar input {
  display: none;
}
@media only screen and (max-width:1280px){
.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 35px;
  margin: 20px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check {
  display: none;
}

.navigation {
  margin-bottom: 10px;
}}
@media only screen and (max-width: 1280px) {
 
  .burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid currentColor;
    width: 35px;
    margin: 20px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
  }
  .burger::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .burger-check {
    display: none;
  }
  .burger-check:checked ~ .burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
  }
  .burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .navigation {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }
  .burger-check:checked ~ .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    width: 100%;
    transition: max-height 0.5s ease-in-out;
  }
}
