
/*general css avalible for all pages*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: ltr;
    font-size: 100%;
}

@font-face {
  font-family: "Quentin";
  src: url("../assets/Quentin.ttf") format("truetype");
}

.subheading_font{
  font-family: "Quentin";
  
}

/*start style of footer section*/

.footer {
  background-color: #191919;
  height: 121px;
  bottom: 0;
}
.footer__container{
  display: flex;
  justify-content: space-between;
}
.footer__container-left{
  font-size: 14px;
} 

.footer__container a {
  padding: 13px;
  text-decoration: none;
  cursor: pointer;
}
.twitter-icon{
color: #55ACEE;
}
.facebook-icon{
  color:  #8B9DC3;
}
.instgram-icon{
  color:#d81154;
} 

.footer__container ul {
  font-size: 30px;
  margin: 26px 46px;
  margin-bottom: 12px;
}
.footer__container span{
  color: #434546;
  margin: 17px 46px;
}
.footer__container-right{
  margin-right: 6%;
  margin-top: 27px;
} 
.flex{
  display: flex;
  margin-bottom: 20px;
  }
.flex p{
  color: #636363;
  padding-left: 22px;
}
.flex img{
  width: 28px;
  height: 24px;
}
/*end style of footer section*/
