.research_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    width: 90%;
    margin: auto;

}

.research_section p, .research_intro {
    font-family: "Kite one";
    font-size: 21px;
    margin: 60px auto;
    max-width: 75%;
 
}

.research_intro {
    margin: 160px auto;
}

.research_paragraph a {
    color: #000000;
}
.research_paragraph .research_quotee{
    margin-top: -20px;
    font-size: 18px;
    text-align: right;
}

.research_paragraph .research_quote {
    margin-top: 20px;
   font-weight: bold;
}



.research_subheading{
    margin: 10px auto; 
    font-size: 25px;
    font-family: "Kite one";
    font-weight: bold;
}

/* media query 860 */