.support_volunteer_button {
  background-color: #b1c9c5;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  margin: 1em;
  font-family: 'Kite One', sans-serif;
}
.support_container h1 {
    font-size: 30px;
    margin: 1em;
    color: #B0663F;
}
.support_container p {
    font-family: 'Kite One', sans-serif;
}
.support_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.support_volunteer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.support_volunteer_intro {
  width: 40%;
  min-width: 250px;
}

.timeline_content {
    padding: 1em;
  width: 35vw;
  max-width: 400px;
  justify-self: center;
  align-self: center;
}

.support_timeline-center {
  align-self: center;
  justify-self: center;
  width: 30px;
}
.support_timeline {
    position: relative;
  width: 80%;
  max-width: 950px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
}

.support_timeline::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 16%;
  bottom: 16%;
  content: ' ';
  position: absolute;
  width: 2px;
  background: #000000;
  z-index: -1;
}
