.support_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  


.support_volunteer_button {
  background-color: #b1c9c5;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  margin: 1em;
  font-family: 'Kite One', sans-serif;
  font-size: 1.6em;
  text-decoration: none;
}



.support_volunteer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  margin: 2em;
  margin-top: 0;
}
.support_volunteer .after_intro {
  width: 80%;
  max-width: 450px;
}
.support_volunteer_intro {
  width: 100%;
  font-size: 16px; 
  text-align: center;
  margin-bottom: 40px;
}
.support_volunteer_intro p {
  width: 85%;
  margin: 10px auto;
}

.support_volunteer_end {
  width: 85%;
  margin: 40px auto;
}

/* Timeline CSS */

.support_timeline {
    position: relative;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
}

.support_timeline a{
  color: #000000;
}

.timeline_content {
    padding: 1em;
  width: 35vw;
  justify-self: center;
  align-self: center;
  font-size: 16px;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline_content::after {
  transition: all .5s ease-in-out;
}

.timeline_content.in-view {
  transform: none;
  visibility: visible;
  opacity: 1;
}


.support_timeline-center {
  align-self: center;
  justify-self: center;
  width: 30px;
}


.support_timeline::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 13%;
  bottom: 13%;
  content: ' ';
  position: absolute;
  width: 2px;
  background: #000000;
  z-index: -1;
}
