/* Volunteer Form css - start*/
.first-row{
    display:flex;
    flex-direction: row;
}

.volunteer-form-section{
    padding: 10vw;
    font-size: 25px;
}

.input-title{
    padding-right: 5vw;
}

.input-row1{
    height: 42px;
}

.input-help{
    padding-left: 5vw;
}

.input-button{
    float: left;
    width: 30px;
    height: 30px;
}

.need-list{
    padding-left: 1vw;
}

.input-experience{
    padding: 5px;
    width: 729px;
    height: 42px;
}

#input-message{
    padding: 10px;
    width: 729px;
    height: 300px;
} 

.send-button{
    
    background: #719CAB;
    width: 265px;
    height: 52px;
    border-radius: 13px;
    border: hidden;
}

/* Volunteer Form css - finish*/