{{!-- start about section --}}
<div class='about-us-section'>

  <div class="about-us-title">
    <h1 class="about-us-h1 subheading_font">About Us</h1>
  </div>

  <div class="about-us-content">
    <div class="about-us-content-div">
      {{!-- <div class="left-paragraph-div">
        <p class="left-paragraph"></p>
      </div> --}}
      <div class="right-video-div">
        <iframe src="https://player.vimeo.com/video/327721229" class="right-video" frameborder="0"
          allow="autoplay; fullscreen" allowfullscreen title="Move Dance Feel Documentary"></iframe>
      </div>
    </div>



    <div class="about-us-main">
      <p class="main-paragraph">Move Dance Feel is an incredibly strong example of creative activity supporting health
        and wellbeing. There is robust evaluation for this work but it is the personal testimonies which are most
        powerful. Women who have gained connections and a sense of belonging, better physical and mental health and body
        confidence. Although a group aimed at women affected by cancer this is somewhere the diagnosis can be left at
        the door…Move Dance Feel is up there as a beacon of best practice, other projects can learn much from how they
        have scaled up their offering.</p>
       <p class="main-paragraph" style="text-align: right;">Jenni Regan<br>
        Director<br>
        London Arts in Health Forum</p> 
 <p class="main-paragraph"><br><br>
        Move Dance Feel is a creative dance project for women affected by cancer, including
        those caring for someone with cancer, designed to offer holistic support and enhance wellbeing.<br><br>

        We offer regular dance sessions to adult women, with any type of cancer, at any stage in their cancer experience
        - having just been diagnosed, undergoing treatment or post treatment.<br><br>

        Sessions combine dynamic and creative movement activities with playful opportunities for interaction as well as
        quiet reflection.<br><br>

        There is a particular focus on the physicality of dance, artistic exploration and collaboration. Sessions
        involve a person centred approach with a view to connect the participant(s) with their own way of dancing and
        learning, in order to understand and take ownership of their movement choices.<br><br>

        Move Dance Feel provides an effective and alternative means of group support, where participants find freedom in
        their bodies and confidence in their abilities.<br><br></p>

    </div>
    {{!-- end about section --}}
    {{!-- current event section --}}
    {{> currentEvents}}
  </div>
</div>