{{!-- start about section --}}
<div class='about-us-section'>

  <div class="about-us-title">
    <h1 class="about-us-h1 subheading_font">About Us</h1>
  </div>

  



    <div class="about-us-main">
      <p class="main-paragraph">
        <br><br>
        Founded by <a href="www.emily-jenkins.com">Emily Jenkins</a>, Move Dance Feel is a project that speaks for itself. The
        life-altering, or rather, repairing experience that this project offers is its greatest attribute.
        <br><br>
        As a physical means of self expression dance enables communication, both internally reinforcing mind and body unity, 
        and externally promoting social cohesion. Move Dance Feel supports general health and wellbeing by placing creativity, 
        physicality and community at its centre, connecting people to themselves as well as to others. <br><br>
        </p>
      <p class="main-paragraph">Move Dance Feel is an incredibly strong example of creative activity supporting health
        and wellbeing. There is robust evaluation for this work but it is the personal testimonies which are most
        powerful. Women who have gained connections and a sense of belonging, better physical and mental health and body
        confidence. Although a group aimed at women affected by cancer this is somewhere the diagnosis can be left at
        the door…Move Dance Feel is up there as a beacon of best practice, other projects can learn much from how they
        have scaled up their offering.</p>
      <p class="main-paragraph" style="text-align: right;">Jenni Regan<br>
        Director<br>
        London Arts in Health Forum  <br><br></p>
 <p class="main-paragraph">
        <a href="www.emily-jenkins.com">Emily Jenkins</a> has worked in participatory dance for ten years and is specialised in the area of 
        <a href="https://www.iadms.org/blogpost/1177934/318259/Introducing-Dance-for-Health">Dance and Health</a>, interested in the relationship
        between creativity and wellbeing. She works with a range of dance, arts and health organisations, including Trinity Laban Conservatoire
         of Music and Dance and English National Ballet.<br><br></p>

    </div>
    <div class="about-us-content">
    <div class="about-us-content-div">
      {{!-- <div class="left-paragraph-div">
        <p class="left-paragraph"></p>
      </div> --}}
      <div class="right-video-div">
        <iframe src="https://player.vimeo.com/video/327721229" class="right-video" frameborder="0"
          allow="autoplay; fullscreen" allowfullscreen title="Move Dance Feel Documentary"></iframe>
      </div>
    </div>
    {{!-- end about section --}}
    {{!-- current event section --}}
    {{> currentEvents}}
  </div>
</div>