<div class='about-us-section'>
    <div class="about-us-title">
        <h1 class="about-us-h1">About Us</h1>
        <h3 class="about-us-h3">Enhancing wellbeing through dance for women affected by cancer</h3>
    </div>
<div class="about-us-content">
    <div class="about-us-content-div">
        <div class="left-paragraph-div">
            <p class="left-paragraph">”Move Dance Feel has provided a wonderful outlet for self expression and creativity, which I have found to be very healing.”</p>
        </div>
        
       <div class="right-video-div">
           <iframe src="https://player.vimeo.com/video/327721229" class="right-video" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
       </div>
       
    </div>


    
    <div class="about-us-main">
        <p class="main-paragraph">Move Dance Feel is a creative dance project for women affected by cancer, including those caring for someone with cancer, designed to offer holistic support and enhance wellbeing.<br><br>

We offer regular dance sessions to adult women, with any type of cancer, at any stage in their cancer experience - having just been diagnosed, undergoing treatment or post treatment.<br><br>

Sessions combine dynamic and creative movement activities with playful opportunities for interaction as well as quiet reflection.<br><br>

There is a particular focus on the physicality of dance, artistic exploration and collaboration. Sessions involve a person centred approach with a view to connect the participant(s) with their own way of dancing and learning, in order to understand and take ownership of their movement choices.<br><br>

Move Dance Feel provides an effective and alternative means of group support, where participants find freedom in their bodies and confidence in their abilities.<br><br></p>

    </div>

{{> currentEvents}}
</div>
</div>