{{!-- start option-section  --}}
<section class="section option">
  <p>Most brilliance arises from ordinary people working together in extraordinary ways. If you
    are getting in contact about something other that booking or volunteering the links to our social media and email
    adress are in the footer. Get in touch!
  </p>
  <p>What are you getting in contact about either?</p>
  <div class="radio-input">
    <div>
      <input type="radio" name="tab" value="Volunteering" onclick="show1();" checked />
      <span>Volunteering</span>
    </div>
    <div>
      <input type="radio" name="tab" value="booking" onclick="show2();" />
      <span>booking a talk</span>
    </div>
  </div>
</section>
{{!-- start option-section  --}}


{{!-- start booking form section --}}

<section class="section contact hide" id="booking">
  <p class="pargraph-left">We have done talks and sessions at various locations. If you are interested fillow out the
    following so we can connect about giving a taster session or talk.</p>
  <form class="contact--contactUs-form">
    <div class="contact--container">
      <div class="contact--container-left">
        <div class="contact--container-row">
          <div class="contact--container-filed">
            <label for="name">Name <span>*</span></label>
            <input type="text" class="contact-inputs" name="name" id="name" placeholder="Enter your Full Name ..."
              required>
          </div>
          <div class="contact--container-filed">
            <label for="email">Email Address <span>*</span></Label>
            <input class="contact-inputs" type="email" name="email" id="email" placeholder="Enter your Email ..."
              required>
          </div>
        </div>
        <div class="error-message">
          <span class="error-message-span"></span>
        </div>
        <label for="experince">Previous Experience <span>*</span></label>
        <input type="text" class="contact-inputs" name="experince" id="experince" placeholder="Enter your Experince ..."
          required>
        <label for="message">Message <span>*</span></label>
        <textarea id="message" class="contact-inputs contactUs--formMessage" type="text" name="message"
          placeholder="Enter your Message ..." required="" spellcheck="false"></textarea>
      </div>
      <div class="contact--container-right">
        <label for="int">Interested in <span>*</span></label>
        <div class="check-button">
          <input type="checkbox" class="contact-inputs" name="int" value="Talk"> Talk <br>
          <input type="checkbox" class="contact-inputs" name="int" value="Session"> Session<br>
          <input type="checkbox" class="contact-inputs" name="int" value="Other" checked> Other<br><br>
        </div>
      </div>
    </div>
    <button class="contact--contactUs-formSubmit" type="submit">Send</button>
  </form>
</section>
{{!-- end booking form section --}}


{{!-- start volunteer form section --}}
<section class="section contact" id="Volunteer">
  <p class="pargraph-left">Currently we have enough artists volunteering to sustain our current programs. We need help
    in other areas of our
    organisations. We need help in keeping all this going. Be it helping publisise an event or the organisation
    itself. Apply for funding grants or etc etc.</p>
  <form class="contact--contactUs-form">
    <div class="contact--container">
      <div class="contact--container-left">
        <div class="contact--container-row">
          <div class="contact--container-filed">
            <label for="name">Name <span>*</span></label>
            <input type="text" class="contact-inputs" name="name" id="name" placeholder="Enter your Full Name ..."
              required pattern="^[a-zA-Z]+$">
          </div>
          <div class="contact--container-filed">
            <label for="email">Email Address <span>*</span></Label>
            <input class="contact-inputs" type="email" name="email" id="email" placeholder="Enter your Email ..."
              required>
          </div>
        </div>
        <label for="experince">Previous Experience <span>*</span></label>
        <input type="text" class="contact-inputs" name="experince" id="experince" placeholder="Enter your Experince ..."
          required>
        <label for="message">Message <span>*</span></label>
        <textarea id="message" class="contact-inputs contactUs--formMessage" type="text" name="message"
          placeholder="Enter your Message ..." required="" spellcheck="false"></textarea>
      </div>
      <div class="contact--container-right">
        <label for="help">I can help with <span>*</span></label>
        <div class="check-button">
          <input type="checkbox" class="contact-inputs" name="help" value="Fund Raising"> Fund Raising <br>
          <input type="checkbox" class="contact-inputs" name="help" value="Event Organiser"> Event Organiser<br>
          <input type="checkbox" class="contact-inputs" name="help" value="Content Producer" checked> Content
          Producer<br><br>
        </div>
      </div>
    </div>
    <button class="contact--contactUs-formSubmit" type="submit">Send</button>
  </form>
</section>
{{!-- end volunteer form section --}}

{{!-- start popup --}}
<div class="popup">
  <div class="popup--content">
    <h2 class="popup--content-message"></h2>
    <input class="popup--content-Done" value="OK" type="button">
  </div>
</div>
{{!-- end popup --}}