{{!-- start option-section  --}}
<section class="section option">
  <div class="heading-title">
    <h1>
      <span class="subheading_font">Contact us</span>
    </h1>
  </div>
  <p>To book a talk or workshop in your area please get in touch. Other enquires about current events, artist training, 
    volunteering with us or donating are all welcome. <br><br>
    If you would like to be added to our mailing list to receive quarterly e-mail updates, please send your name and 
    contact details to movedancefeel@gmail.com
  </p>
</section>