<section class="section">
    <div class="heading-title">
        <h1>
            <span class="subheading_font">Shareable Leaflet</span>
        </h1>
    </div>
</section>


{{!-- start download section --}}
<section class="pdf">
    <div class="download">
        <p class="download_paragraph">Know someone who would benefit from coming to a session? Send them this PDF or
            print it out for them </p>
        <a href="/assets/MDF-Leaflet.pdf" class="download_button" download>
            Download
        </a>
    </div>
    <div class="pdf_viewer">
        <a href="/assets/MDF-Leaflet.pdf" target="_blank"><img src="/assets/images/leaflet-preview.png"
                alt="leaflet preview"></a>
    </div>
</section>
{{!-- end download section --}}