{{!-- start slider section --}}
<section class="section">
    <div class="heading-title">
        <h1>
            <span>Easy Share Information pack</span>
        </h1>
    </div>
    <div class="CSSgal">
        <s id="s1"></s>
        <s id="s2"></s>
        <s id="s3"></s>
        <div class="slider">
            <div class="slider-image">
                <img src='assets/images/10.jpg'>
                <img src='assets/images/7.jpg'>
                <img src='assets/images/13.jpg'>
            </div>
            <div class="slider-image">
                <img src='assets/images/3.png'>
                <img src='assets/images/14.jpg'>
                <img src='assets/images/9.jpg'>
            </div>
            <div class="slider-image">
                <img src='assets/images/11.jpg'>
                <img src='assets/images/16.jpg'>
                <img src='assets/images/12.jpg'>
            </div>

        </div>
        <div class="slid-arrow">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <div class="bullets">
            <a class="demo" onclick="currentSlide(1)"></a>
            <a class="demo" onclick="currentSlide(2)"></a>
            <a class="demo" onclick="currentSlide(3)"></a>
        </div>
    </div>
    <div class="slider-text">
        <p class="slider-pargraph">Know someone who would benefit from coming to a session? Send them this PDF or print
            it out for
            them
        </p>
    </div>
</section>
{{!-- end slider section --}}


{{!-- start download section --}}
<section class="section pdf">
    <div class="download">
        <p class="download_paragraph">Know someone who would benefit from coming to a session? Send them this PDF or
            print it out for them </p>
        <a href="/assets/MDF-Leaflet.pdf" class="download_button" download>
            Download
        </a>
    </div>
    <div class="pdf_viewer">
       <a href="/assets/MDF-Leaflet.pdf" target="_blank"><img src="/assets/images/leaflet-preview.png" alt="leaflet preview"></a>
    </div>
</section>
{{!-- end download section --}}