<section class="section">
      <div class="heading-title">
        <h1>
            <span class="subheading_font">{{status}}</span>
        </h1>
    </div>
    <p class="error_intro">{{errorMessage}}</p>

    <img src="../assets/images/testemonial.png" alt="drawn dancers" class="error_img">
</section>