<section class="section">
  <div class="heading-title">
    <h1>
      <span class="subheading_font">Take Part in the sessions</span>
    </h1>
    <P> Sessions are free to attend and no prior dance experience is necessary.</P>
  </div>
  <div class="events">
    <h1>London</h1>
    <div class="events-content">
      <div class="events-details">
        <h1>Maggie's Barts</h1>
        <p>
          St Bartholomew's Hospital West Smithfield London EC1A 7BE <br>
          Weekly sessions on Wednesdays, 5pm - 7pm Contact Janet O'Doherty;
          <span> Janet.O'Doherty@maggiescentres.org or call 0203 904 3448 for further information and to sign up.
          </span>
        </p>
      </div>
      <div class="events-details">
        <h1>Penny Brohn UK</h1>
        <p>Chapel Pill Lane, Pill, Bristol., BS20 0HH <br>
          Weekend Move Dance Feel courses in January, March, May, July, September, November 2020.
          <br>
          <span>Call 0303 3000 118 or email bookings@pennybrohn.org.uk <br><br>The Move Dance Feel course should be added to the online booking platform by beginning of Nov.</span>
        </p>
      </div>
    </div>
  </div>
  <div class="events">
    <h1>Bristol </h1>
    <div class="center-events-details">
      <h1>Paul's Cancer Support Centre </h1>
      <p>
        20-22 York Rd, Battersea, <br> London SW11 3QA <br>
        Weekly sessions on Thursdays, 10.30am - 12.30pm
       <br>
        <span> Contact Angela Murdock: angelam@paulscancersupport.org.uk or call 020 7924 3924 for further information or to sign up.
        </span>
      </p>
    </div>
  </div>
</section>

<section class='section'>
  <div class="session-title-div">
    <div class="heading-title">
      <h1>
        <span class="subheading_font">What is a session like?</span>
      </h1>
    </div>
  </div>
  <div class="session-content-div">
    <div class="right-video-div">
      <div class="session-content-text">
        <p class="session-content-pargraph">
          What to wear:<br>
          Loose comfortable clothing that you can move
          easily in. Soft –soled shoes or socks or bare feet.
          Something warm for end of session relaxation.
          </br>
          <p class="session-content-pargraph">
            What to bring:<br>
            A bottle of water and small snack should you
            need it</p>
      </div>
      <iframe src="https://player.vimeo.com/video/327721229" class="right-video" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div class="right-video-div" id="left-video-div">

      <iframe src="https://player.vimeo.com/video/327721229" class="right-video" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div class="session-content-text">
        <p class="session-content-pargraph">
          ”I come feeling tired and leaving feeling like I have more energy”
          </b>
          <p class="session-content-pargraph">
            ”When you have cancer, you lose touch with your body…dancing started to bring me back to my body, and its
            energy,
            strength and basic joyfulness..”
          </p>
      </div>
    </div>
    <div class="right-video-div">
      <div class="session-content-text">
        <p class="session-content-pargraph">
          ”It’s helping me to walk taller. I had my eyes down before, I was always looking at my feet.”
          </b>
          <p class="session-content-pargraph">
            ”A sense of belonging and quiet solidarity”

          </p>
      </div>
      <iframe src="https://player.vimeo.com/video/327721229" class="right-video" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
</section>