<section class="section">
  <div class="heading-title">
    <h1>
      <span class="subheading_font">Take Part in the Sessions</span>
    </h1>
    <P>Move Dance Feel offers regular dance sessions to adult women, with any type of cancer, at any stage in their
      cancer experience - having just been diagnosed, undergoing treatment or post treatment.<br><br>

      The dance sessions provide an effective and alternative means of group support, where participants find freedom in their bodies and confidence in their abilities.<br><br>

      It makes me feel the absolute joy of being alive!<br>
      - Participant
    </P>
  </div>
  <div class="session-title-div">
    {{!-- start what is it like section --}}
    <div class="heading-title">
      <h1>
        <span class="subheading_font">What is a dance session like?</span>
      </h1>
    </div>
  </div>
  <div class="right-video-div">
    <div class="session-content-text">

      <p class="session-content-pargraph">
        Sessions combine dynamic and creative movement activities with playful opportunities for interaction as well as quiet reflection. 
        There is a particular focus on the physicality of dance, artistic exploration and collaboration.<br><br>

        We employ an inclusive and person-centred approach to facilitation where the dancing builds in response to the needs and abilities
         of the group. No prior dance experience is necessary and participants are welcome to bring along a female friend.<br><br>

       <b>Wear</b>loose comfortable clothing that you can move
        easily in. <b>Bring</b> a bottle of water and small snack should you
        need it
        </br><br>

        It is the most de-stressing thing I do.<br>
        - Participant<br><br>
        I come feeling tired and I leave feeling like I have more energy!<br>
        - Participant
        <br><br>
      </p>

   

    </div>
  <iframe src="https://player.vimeo.com/video/365942729" class="right-video" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen title="oneness"></iframe>
  </div>
  {{!-- end what is it like section --}}
  {{!-- start location section --}}
  <div class="events">
    <div class="heading-title location-heading">
      <h1>
        <span class="subheading_font">Locations</span>
      </h1>
    </div>
    <h1 class="location-title"> London</h1>
    <div class="events-content">
      <div class="events-details">
        <a href="hyperlink https://www.maggiescentres.org/our-centres/maggies-barts/">
          Maggie's Barts
        </a>
        <p>
           Weekly sessions on Wednesdays, 5pm - 7pm <br><br>
          St Bartholomew's Hospital West Smithfield London <br> EC1A 7BE <br><br>
         
          <span>Contact Janet O'Doherty at Janet.O'Doherty@maggiescentres.org or call 0203 904 3448 for further information and to sign up.
          </span>
        </p>
      </div>
      <div class="events-details">
        <a href="https://www.pauls.org.uk/">
          Paul's Cancer Support Centre
        </a>
        <p>
          Weekly sessions on Thursdays, 10.30am - 12.30pm <br><br>
          20-22 York Rd, Battersea,  London <br> SW11 3QA <br><br>
          
          <br>
          <span> Contact Angela Murdock at angelam@paulscancersupport.org.uk or call 020 7924 3924 for further information
            or to sign up.
          </span>
        </p>

      </div>
    </div>
  </div>
  <div class="events">
    <h1 class="location-title">Bristol</h1>
    <div class="center-events-details">

      <a href="https://www.pennybrohn.org.uk/">
        Penny Brohn UK
      </a>
      <p>Chapel Pill Lane, Pill, Bristol<br> BS20 0HH <br><br>
        Weekend Move Dance Feel courses in January, March, May, July, September, November 2020.
        <br><br>
        Click <a href="https://www.pennybrohn.org.uk/find-help/support-national-centre/courses-national-centre/move-dance-feel/">HERE</a>  to visit their website.
        <br><br>
        <span>Call 0303 3000 118 or email bookings@pennybrohn.org.uk for further information or to sign up.<br><br></span>
      </p>
    </div>
  </div>
</section>
{{!-- end location section --}}

