<section class="section">
    <div class="heading-title">
        <h1>
            <span class="subheading_font">Video and Image Gallery</span>
        </h1>
    </div>
    {{!-- start slider section --}}
    <div class="CSSgal">
        <s id="s1"></s>
        <s id="s2"></s>
        <s id="s3"></s>
        <div class="slider">
            <div class="slider-image">
                 <img src='assets/images/13.jpg' alt="Women dancing in a session">
                <img src='assets/images/7.jpg' alt="Women dancing in a session" class="slider-img-2">
                <img src='assets/images/13.jpg' alt="Women dancing in a session" class="slider-img-3">
            </div>
            <div class="slider-image">
                 <img src='assets/images/9.jpg' alt="Women dancing in a session">
                <img src='assets/images/14.jpg' alt="Women dancing in a session" class="slider-img-2">
                <img src='assets/images/9.jpg' alt="Women dancing in a session" class="slider-img-3">
            </div>
            <div class="slider-image">
                <img src='assets/images/11.jpg' alt="Women dancing in a session">
                <img src='assets/images/16.jpg' alt="Women dancing in a session" class="slider-img-2">
                <img src='assets/images/12.jpg' alt="Women dancing in a session" class="slider-img-3">
            </div>

        </div>
        <div class="slid-arrow">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

        </div>
        <div class="bullets">
            <a class="demo" onclick="currentSlide(1)"></a>
            <a class="demo" onclick="currentSlide(2)"></a>
            <a class="demo" onclick="currentSlide(3)"></a>
        </div>
    </div>
    {{!-- end slider section--}}

    {{!-- video section --}}
    <section class="video-section">
      <div class="heading-title">
        <h1>
            <span class="subheading_font">Videos</span>
        </h1>
    </div>
            <iframe src="https://player.vimeo.com/video/327721229" class="video-gallery-content" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <section class="video-gallery">
        <iframe src="https://player.vimeo.com/video/365941814" class="video-gallery-content" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/365942079" class="video-gallery-content" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/365942352" class="video-gallery-content" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <iframe src="https://player.vimeo.com/video/365942729" class="video-gallery-content" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </section>
    </section>
     {{!-- end video section --}}
</section>