<div class="top-section">
  <div class='header-video'>
    <iframe src="https://player.vimeo.com/video/365943340?background=1?autoplay=1&loop=1" frameborder="0" allow=autoplay
      title="move dance feel video"></iframe>

  </div>
  <div class="top-section-text">
    Enhancing wellbeing through dance for women affected by cancer
  </div>
</div>
{{!-- strart who we are section --}}
<section class="section who-we-are-section">
  <div class="heading-title">
    <h1>
      <span class="subheading_font">who we are</span>
    </h1>
  </div>
  <div class="who-content">
    <div class="who-content-div">
      <p class="pargraph-left">
        Move Dance Feel is a creative dance project for women affected by
        cancer, including those caring for someone with cancer, designed to
        offer holistic support and enhance wellbeing.
      </p>
      <img src="assets/images/home.jpg" alt="A woman dancing in a session" />
    </div>
    <div class="who-content-div">


      <img src="assets/images/16.jpg" alt="A woman dancing in a session" />
      <p class="pargraph-right">
        We offer regular dance sessions to adult women, with any type of cancer,
        at any stage in their cancer experience - having just been diagnosed,
        undergoing treatment or post treatment.
      </p>
    </div>
  </div>

</section>

{{!-- end who we are section --}}

{{!-- start testimonial section --}}
<section class="section testemonial">
  <div class="over"></div>
  <div class="heading-title">
    <h2>
      <span class="subheading_font">What people say</span>
    </h2>
  </div>
  <div class="CSSgal slider-home">
    <s id="s1"></s>
    <s id="s2"></s>
    <s id="s3"></s>
    <div class="slider">
      <div class="slider-image">
        <div class="test-card">
          <div class="test-item-container">
            <div class="item">
              <div class="test-info">
                <h2 class="test-info-title">Angela Murdock</h2>
                <span class="test-info-span">Wellbeing Officer <br>
                  Paul’s Cancer Support Centre</span>

                <p class="test-info-desc">I have witnessed firsthand the impact that Move Dance Feel has had on our
                  clients. They have voiced a shared experience of connectivity, healing and happiness. Thank you for
                  bringing this to Paul’s.</p>
              </div>
            </div>
            <div class="item">
              <div class="test-info">
                <h2 class="test-info-title">Dr Virginia Wolstenholme</h2>
                <span class="test-info-span">Consultant Clinical Oncologist<br>
                  Barts Health NHS Trust</span>

                <p class="test-info-desc">I was truly amazed by the effect of Move Dance Feel on my patients. The
                  benefits in terms of improved confidence and wellbeing were remarkable and supported by clinical data.
                  The programme is a huge success.</p>
              </div>
            </div>
            <div class="item">
              <div class="test-info">
                <h2 class="test-info-title">Dr Mark Barrington</h2>
                <span class="test-info-span">Consultant Clinical Psychologist<br>
                  London Cancer Psychosocial Forum</span>
                <p class="test-info-desc">We have been delighted to have our patients benefit from Move Dance Feel. As
                  well as hearing first-hand patient accounts of the benefits, it is really encouraging to see the
                  amount of ongoing work to demonstrate the efficacy of the programme.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-image">
        <div class="test-card">
          <div class="test-item-container">
            <div class="item">
              <div class="test-info">
                <h2 class="test-info-title">Orlanda Otley</h2>
                <span class="test-info-span">Dance Artist</span>

                <p class="test-info-desc">Move Dance Feel sessions are conducted with such care and consideration,
                  founded on years of research, experience and friendships with women affected by cancer. It's a
                  privilege to dance with these women: together, we shake off stress, build up skills, energise and
                  astonish one another with our collective creativity. </p>
              </div>
            </div>
            <div class="item">
              <div class="test-info">
                <h2 class="test-info-title">Naomi Welford</h2>
                <span class="test-info-span">Dance Artist</span>

                <p class="test-info-desc">As an artist I am continually inspired and creatively fed when working with
                  Move Dance Feel. Crucially there is also a sensitivity and support network that reaches beyond the
                  artists and participant groups, through to the Centres and out into the wider public. </p>
              </div>
            </div>
            <div class="item">
              <div class="test-info">
                <h2 class="test-info-title">Louise Klarnett</h2>
                <span class="test-info-span">Dance Artist</span>

                <p class="test-info-desc">Move Dance Feel offers a safe space to move as well as to connect with women
                  of various ages and backgrounds. It all happens under the excellent whole-project practice of Emily,
                  both within the space and outside: management, advocation and development.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-image">
        <div class="test-card">
          <div class="test-item-container">
            <div class="item">
              <div class="test-info">
                <h2 class="test-info-title">Participant</h2>
                <br><br>
                <p class="test-info-desc">"Move Dance Feel has provided a wonderful outlet for self expression and
                  creativity, which I have found to be very healing."</p>
              </div>
            </div>
            <div class="item">
              <div class="test-info">
                <h2 class="test-info-title">Participant</h2>
                <br><br>
                <p class="test-info-desc">"This is a mix of connecting with myself, others, mind and body, a sense of
                  some tightness unbinding."</p>
              </div>
            </div>
            <div class="item">
              <div class="test-info">
                <h2 class="test-info-title">Participant</h2>
                <br><br>
                <p class="test-info-desc">"When you have cancer, you lose touch with your body. It becomes unfamiliar -
                  even worse, it starts to feel as if it is an enemy. For me, dancing started to bring me back to my own
                  body and its energy, strength and basic joyfulness."</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slid-arrow">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  </div>
</section>
{{!-- end testemonial section --}}

{{!-- strart people-work-with section --}}
<section class="section work-with-section">
  <div class="heading-title">
    <h2>
      <span class="subheading_font">People We Work With</span>
    </h2>
  </div>
  <div class="work-with-content-div">
    <img src="assets/images/partners/Pauls Cancer Support Centre.png" class="work-with-content-image"
      alt="Pauls Cancer Support Center logo" />
    <img src="assets/images/partners/Maggies Logo.png" alt="Maggies logo" />
    <img src="assets/images/partners/Penny Brohn Black Logo.jpg" alt="Penny Brohn Black logo" />
  </div>
</section>

{{!-- end people-work-with section --}}

{{!-- start cards section --}}

<section class="section cards">
  <div class="cards-info cards-info-img1">

    <div class="overlay">
      <p>Benefits of Move Dance Feel for patients</p>
    </div>
  </div>
  <div class="cards-info cards-info-img2">


    <div class="overlay">
      <p>Find out more about what to expect</p>
    </div>
  </div>
</section>
{{!-- end cards section --}}

{{!-- start partener section --}}
<section class="section partener">
  <h3>
    Help Us Keep Moving Forward
  </h3>
  <p>If you are interested in helping with a grant, starting a new program or getting involved in supporting in
    another
    way that isn’t directly volunteering. Please get in contact with ... </p>
  <a href="/contact">Volunteer now<i class="fa fa-arrow-right"></i></a>
</section>
{{!-- end partener section --}}