{{!-- start slider section --}}
<div class="CSSgal">
  <!-- Don't wrap targets in parent -->
  <s id="s1"></s>
  <s id="s2"></s>
  <s id="s3"></s>
  <div class="slider">
    <div class="slider-image">
      <img src='assets/images/10.jpg'>
      <img src='assets/images/7.jpg'>
      <img src='assets/images/13.jpg'>
    </div>
    <div class="slider-image">
      <img src='assets/images/3.png'>
      <img src='assets/images/14.jpg'>
      <img src='assets/images/9.jpg'>
    </div>
    <div class="slider-image">
      <img src='assets/images/11.jpg'>
      <img src='assets/images/16.jpg'>
      <img src='assets/images/12.jpg'>
    </div>

  </div>
  <div class="bullets">
    <a href="#s1"></a>
    <a href="#s2"></a>
    <a href="#s3"></a>
  </div>
</div>
{{!-- end slider section --}}