{{!-- start cards section --}}

<section class="section cards">
  <div class="cards-info">

    <img src="assets/images/1.png" alt="">
    <div class="cards-text">
      <p class="cards-desc">Benefits of Move Dance Feel for patients</p>
      <a href="#">
        <button class="cards-btn">read more</button>
      </a>
    </div>
  </div>
  <div class="cards-info">
    <img src="assets/images/2.jpg" alt="">
    <div class="cards-text">
      <p class="cards-desc">Find out more about what to expect </p>
      <a href="#">
        <button class="cards-btn">read more</button>
      </a>
    </div>

  </div>
</section>
{{!-- end cards section --}}

{{!-- start partener section --}}
<section class="partener">
  <h2>Became a partener</h2>
  <p>If you are interested in helping with a grant, starting a new program or getting involved in supporting in another
    way that isn’t directly volunteering. Please get in contact with ... </p>
  <a href="">Volunteer now<i class="fa fa-arrow-right"></i></a>
</section>
{{!-- end partener section --}}