<section class="section">
<div class="heading-title">
    <h1>
        <span class="subheading_font">Research and Evaluation</span>
    </h1>
</div>
<p class="research_intro">In the context of cancer diagnosis, evidence shows that by undertaking physical activity
    people respond better to
    treatment, recover more quickly after treatment, maintain wellbeing and reduce their chances of cancer
    reoccurrence.

    Dance is a holistic form of physical activity that is also a means of communication - its expressive nature
    helping participants to establish supportive relationships, and process thoughts and feelings that are often
    difficult to articulate.</p>
<section class="research_section">
    <h2 class="research_subheading"> Outcomes for Participants</h2>
    <h2 class="research_subheading subheading2">Artistic Approach and Methodology</h2>
    <div class="research_paragraph">
        <p>Since project initiation in 2016 we have been exploring the efficacy of Move Dance
            Feel - documenting the benefits of dance for women living with or beyond cancer.</p>
        <p class="research_quote"><i>"The benefits in terms of improved
            confidence and wellbeing were remarkable and supported by clinical data."</i>
        </p>
        <p class="research_quotee">Dr Virginia Wolstenholme<br>
            Consultant Clinical Oncologist<br>
            Barts Health NHS Trust</p>
        <p> The results of our qualitative (2016) pilot study revealed five areas of significance that are beneficial to
            participants; Positivity, Relationships, Self Expression, Managing Challenges and Accomplishment, Openness
            and
            Reinvent Yourself. These benefits correspond with theoretical notions of individual wellbeing, and indicate
            a
            specific overlap with the psychological PERMA model of wellbeing (Positive emotion, Engagement,
            Relationships,
            Meaning and Accomplishment).</p>
        <p> Building on the 2016 study, from 2018 to 2019 we conducted a second study in order to incorporate both
            quantitative and qualitative methods of data gathering, and to explore how dance may combat some of the
            negative
            side effects of cancer treatment, such as anxiety and fatigue.</p>
        <p> The 2018-2019 study revealed an increase (42%) and stabilisation (54%) in participant wellbeing, an
            extremely
            positive and alleviating change in feelings of stress and anxiety (86%), an improvement in body image
            perception
            (44%), and a clinically meaningful improvement in fatigue (46%). Further
            details
            can be found in <a href="/assets/MDF_Evaluation_Report.pdf" target="_blank">the 2018 - 2019 research report</a></p>

        </p>
        <p class="research_quote"><i>When you have cancer, you lose touch with your body. It becomes unfamiliar - even
            worse, it starts to feel as
            if it is an enemy. For me, dancing started to bring me back to my own body and its energy, strength and
            basic joyfulness.</i></p>
        <p class="research_quotee">Participant</p>
        <p> Such findings indicate that Move Dance Feel offers an effective solution for addressing the complex,
            holistic
            needs of people living with and beyond cancer, especially as the health sector now recognises that ‘the
            traditional medical model is not sufficient to fully meet the personalised care agenda, and a fundamental
            shift
            in thinking and behaviours will be needed to deliver better outcomes.’ (<a target="_blank"
                href=" https://www.healthylondon.org/new-guidance-launched-to-ensure-london-provides-world-class-cancer-rehabilitation-services/">Commissioning
                Guidance for Cancer
                Rehabilitation, July 2019 </a>
            )</p>
    </div>



    <div class="research_paragraph">
        <p>The artistic approach to Move Dance Feel has been shaped by project Founder <a
                href="www.emily-jenkins.com">Emily
                Jenkins </a>, who describes her creative practice as ‘centred around
            connection; to the art form, as a creative and physical form of self expression; to the self, to encourage a
            greater understanding of, and enjoyment in, the body; to others, to build social cohesion and meaningful
            relationships through positive, shared experience.’ This approach places creativity, physicality and
            community
            at the heart of the work, offering participants person-centred and high-quality artistic experiences.</p>
        <p class="research_quote"><i>Move Dance Feel sessions are conducted with such care and consideration, founded on
            years of research,
            experience and friendships with women affected by cancer. It's a privilege to dance with these women:
            together, we shake off stress, build up skills, energise and astonish one another with our collective
            creativity.</i></p>
        <p class="research_quotee">Orlanda Otley<br>
            Dance Artist</p>
        <p> Embedded into the Move Dance Feel project model is an artist training programme, where dancers are given
            specialist knowledge and introduced to elements of practice that are specific to working in this context.
            Developed over the four years the project has been running, the methodology involves six key elements of
            practice, which may all be present in a single session or deployed across a series of sessions. Further
            details
            can be found in <a href="/assets/MDF_Evaluation_Report.pdf" target="_blank">the 2018 - 2019 research report</a></p>

    </div>
</section>
</section>