<section class="section support_container">
    <div class="heading-title">
        <h1 class="heading-title">
            <span class="subheading_font">Help Us Keep Moving Forward</span>
        </h1>
    </div>
    <div class="support_volunteer">
        <p class="support_volunteer_intro">Currently Move Dance Feel has been funded by [list of grants]. This is on a
            delivery basis so all of this is on a temporary basis. </p>
        <button class="support_volunteer_button">Volunteering</button>
    </div>
    <section class="support_timeline">
        {{!-- Single timeline row --}}
        <p class="timeline_content">Currently Move Dance Feel has been funded by [list of grants].
            This is on a delivery basis so all of this is on a temporary basis. </p>
        <img class="support_timeline-center" src="/assets/Ellipse.svg" alt="bullet point">
        <img class="timeline_content" src="/assets/images/1.png" alt="Image of dancing">
        {{!-- Single timeline row --}}
        <img class="timeline_content" src="/assets/images/1.png" alt="Image of dancing">
        <img class="support_timeline-center" src="/assets/EllipseGrey.svg" alt="bullet point">
        <p class="timeline_content">Currently Move Dance Feel has been funded by [list of grants].
            This is on a delivery basis so all of this is on a temporary basis. </p>
        {{!-- Single timeline row --}}
        <p class="timeline_content">Currently Move Dance Feel has been funded by [list of grants].
            This is on a delivery basis so all of this is on a temporary basis. </p>
        <img class="support_timeline-center" src="/assets/EllipseGrey.svg" alt="bullet point">
        <img class="timeline_content" src="/assets/images/1.png" alt="Image of dancing">
    </section>

</section>