  <div class="heading-title">
        <h1 class="subheading_font">
            <span>Help Us Keep Moving Forward</span>
        </h1>
    </div>
    <div class="support_volunteer">
        <p>Currently Move Dance Feel has been funded by [list of grants]. This is on a delivery basis so all of this is on a temporary basis. </p>
    <button class="support_volunteer_button">Volunteering</button>
    </div>
    <section class="support_timeline">
        <p class="support_timeline-left">Currently Move Dance Feel has been funded by [list of grants]. This is on a delivery basis so all of this is on a temporary basis. </p>
<img src="/assets/Ellipse.svg" alt="bullet point">
<img class="support_timeline-right" src="/assets/images/1.png" alt="Image of dancing">
    </section>