<section class="section support_container">
    <div class="heading-title">
        <h1>
            <span class="subheading_font">Help Us Keep Moving Forward</span>
        </h1>
    </div>
    <div class="support_volunteer">
        <div class="support_volunteer_intro">
            <p class="first-pargraph">Most brilliance arises from ordinary people working together in extraordinary
                ways.</p>

            <p>Since its initiation in 2016, Move Dance Feel has established <b>partnerships with 4 cancer support
                    Centres
                </b>across London and Bristol, <b>trained 10 Dance Artists </b>in the methodology, <b>worked alongside
                    16 cancer care professionals, engaged over 500 women</b> affected by cancer, plus <b>300 friends and
                    family </b>members, <b>conducted 2 research studies</b>, and <b>presented findings at 18 events
                </b>and conferences.</p>
            <p>
                Move Dance Feel relies on public funding and the support of the community to keep the project
                going. We are committed to offering free or pay-what-you-can opportunities to women in need, as
                well as their carers, family or friends.
            </p>
        </div>
        <p class="after_intro"> Whether it is by donating, spreading the word about Move Dance Feel or volunteering your
            time,
            we value any and all contributions to the project.</p>
        <a href="/contact" class="support_volunteer_button">Volunteering</a>
    </div>
    <section class="support_timeline">
        {{!-- Single timeline row --}}
        <p class="timeline_content"><span>2020</span><br>

            Move Dance Feel continues in London, and expands to Bristol in partnership with <a
                href="https://www.pennybrohn.org.uk/">Penny Brohn UK</a>, offering bi-monthly courses at their National
            Centre. </p>
        <img class="support_timeline-center" src="/assets/Ellipse.svg" alt="bullet point">
        <img class="timeline_content grid-order-first animationy" src="/assets/images/1.png" alt="Image of dancing">
        {{!-- Single timeline row --}}
        <img class="timeline_content animationy top" src="/assets/images/2019-event.jpg" alt="Image of dancing">
        <img class="support_timeline-center" src="/assets/EllipseGrey.svg" alt="bullet point">
        <p class="timeline_content"><span>2019</span><br>

            The second research study demonstrates positive change in participants’ feelings of wellbeing, and of stress
            and anxiety, as well as improvements in body confidence and cancer related fatigue. Findings are presented
            at the first Move Dance Feel Symposium, held at St Bartholomew’s Hospital, London.
            <br> <br>
            Move Dance Feel raises £11,473 by crowdfunding
            <br> <br>
            Provision continues at <a
                href="hyperlink https://www.maggiescentres.org/our-centres/maggies-barts/">Maggie’s Barts</a>
            and ,<a href="https://www.pauls.org.uk/">Paul’s Cancer Support Centre</a>, but ends at Bromley by Bow
            Centre as
            Macmillan Social Prescribing Service closes. The project is presented at different events in the USA and
            Canada. </p>
        {{!-- Single timeline row --}}
        <p class="timeline_content top"><span>2018</span><br>

            Move Dance Feel provision expands into Central and South West London, in partnership with <a
                href="hyperlink https://www.maggiescentres.org/our-centres/maggies-barts/">Maggie’s Barts</a> and <a
                href="https://www.pauls.org.uk/">Paul’s Cancer Support Centre</a>
            <br> <br>
            Supported by <a href="https://www.trinitylaban.ac.uk/"></a> Trinity Laban Conservatoire of Music and Dance,
            further research is conducted to explore how Move Dance Feel can combat some of the negative side effects of
            cancer treatment
            <br> <br>
            The project is presented at different events in France, Russia, Ireland and England.
            <br> <br>
            Move Dance Feel raises £4040 by crowdfunding.</p>
        <img class="support_timeline-center" src="/assets/EllipseGrey.svg" alt="bullet point">
        <img class="timeline_content grid-order-fifth animationy" src="/assets/images/1.png" alt="Image of dancing">
        {{!-- Single timeline row --}}

        <img class="timeline_content animationy" src="/assets/images/1.png" alt="Image of dancing">

        <img class="support_timeline-center" src="/assets/EllipseGrey.svg" alt="bullet point">
        <p class="timeline_content"><span>2016 - 2017</span><br>

            Move Dance Feel is piloted and established in East London at Bromley by Bow Centre, with Macmillan Social
            Prescribing. Read about it <a
                href=" https://www.bbbc.org.uk/insights/learning-from-our-services/supporting-people-affected-by-cancer-in-their-community/">here</a>
            <br> <br>

            The first research study reveals that the reported benefits of Move Dance Feel lead to enhanced participant
            wellbeing. </p>


    </section>
    <p class="support_volunteer_end">Move Dance Feel has been generously supported by Arts Council England, the Mayor of
        London, The Wimbledon
        Foundation, Trinity Laban Conservatoire of Music and Dance, D'Oyly Carte Charitable Trust, The Arts Enterprise
        Trust, Waitrose Clerkenwell, by Move Dance Feel patrons and public donations and by four cancer support
        organisations: Macmillan Social Prescribing at Bromley by Bow Centre, Maggie's Barts, Paul's Cancer Support
        Centre and Penny Brohn UK.</p>

</section>