{{! Start Volunteer-Form Section}}
<div class="volunteer-form-section">
    <p>Currently we have enough artists volunteering to sustain our current programs. We need help in other areas of our
        organisations. We need help in keeping all this going. Be it helping publisise an event or the organisation
        itself. Apply for funding grants or etc etc.</p><br><br>
    <form class='form' action="/volunteer-form" method="POST" id="volunteer">
        <div class="first-row">
            <label class='input-title' for="input-name">Name: <br><br>
                <input class="input-row1" type="text" value="" form="volunteer" id="input-name" name="name"
                    placeholder="Enter Name Here..." pattern="^[a-zA-Z]+$" required>
            </label>
            <label class="input-title" for="input-email">Email Address: <br><br>
                <input class="input-row1" type="text" value="" form="volunteer" id="input-email" name="email"
                    placeholder="example@example.co.uk">
            </label>
            <label class="input-title" for="input-help">I can help with: <br><br>
                <div class="input-checkbox">
                    <label class="need-list" for="need1">Fund Raising
                        <input class="input-button" type="checkbox" form="volunteer" id='fund-raising'
                            value="fund-raising" name="help">
                    </label><br><br>
                    <label class="need-list" for="need2">Event Organiser
                        <input class="input-button" type="checkbox" form="volunteer" id="event-organiser"
                            value="event-organiser" name="help">
                    </label><br><br>
                    <label class="need-list" for="need3">Content Producer
                        <input class="input-button" type="checkbox" form="volunteer" id="conent-producer"
                            value="content-producer" name="help">
                    </label>
                </div>
            </label>
        </div>
        <label class="input-title" for="input-experience">Previous Experience:<br><br>
            <textarea class="input-experience" type="text" value="" form="volunteer" id="input-experience"
                name="experience" id="" placeholder="Enter Experience Here..."></textarea>
        </label>
        <br><br>
        <label class="input-title" for="input-message">Message:<br><br>
            <textarea class="input-message" type="text" value="" form="volunteer" id="input-message" name="message"
                cols="30" rows="10" maxlength="250"></textarea>
        </label>
        <br><br>
        <input class="send-button" type="submit" value="Send"> 
    </form>
</div>