<section class="event_section">

    <div class="heading-title">
        <h1>
            <span class="subheading_font">Current Events</span>
        </h1>
    </div>
    <ul>
        {{#each data}} <li>
            <p class="event_date">{{Date}}</p>
            <p class="event_details">{{Details}}</p>
            <a class="event_link" href={{url}}>{{link}}</a>
        </li>
        {{/each}}
    </ul>

</section>