<footer class="footer">
  <div class="footer__container">
    <div class='footer__container-left'>
      <ul class="footer__icons">
        <a href="#" class='twitter-icon'>
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class='facebook-icon'>
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class='instgram-icon'>
          <i class="fab fa-instagram"></i>
        </a>
      </ul>
    </div>
    <div class="center">
      <div class="flex">
        <i class="fas fa-envelope"></i>
        <p>movedancefeel@gmail.com</p>
      </div>
      <div class="flex">
        <i class="fas fa-globe-europe"></i>
        <p>http://movedancefeel.com</p>
      </div>
    </div>

    <div class="footer__container-right">
      <p>Copyrights © Move Dance Feel Power 2019. All Rights Reserved.</p>
    </div>
  </div>
</footer>