<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kite+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik|Lily+Script+One|Londrina+Outline" rel="stylesheet">
  <title>{{title}}</title>
  <meta name="description"
    content="Move Dance Feel is a creative dance project for women affected by cancer in London and Bristol, including those caring for someone with cancer, designed to offer holistic support and enhance wellbeing.">
    <meta name="keywords" content="cancer, dance, movement, holistic, peer or group support, wellbeing, positivity, creativity"> 
 <meta property="og:title" content="Move Dance Feel UK: dance for women affected by cancer">
  <meta property="og:site_name" content="Move Dance Feel">
  <meta property="og:url" content="https://move-dance-feel.herokuapp.com/">
  <meta property="og:description"
    content="Move Dance Feel is a creative dance project for women affected by cancer in London and Bristol, including those caring for someone with cancer, designed to offer holistic support and enhance wellbeing">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://move-dance-feel.herokuapp.com/assets/images/1.png">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/{{css}}.css">
</head>