<nav class="navbar" id="navbar">
  <a style="width: 112.5px;" href="/">
    <img src="/assets/images/logo.png" alt="Wove Dance Feel logo" class="navbar-logo" />
  </a>
  <input class="burger-check" id="burger-check" type="checkbox"><label for="burger-check" class="burger"></label>
  <div id="navigation1" class="navigation">
    <a href="/" class="navbar-link">Home</a>
    <a href="/about" class="navbar-link">About</a>
    <a href="/events" class="navbar-link">Take Part</a>
    <a href="/research" class="navbar-link">Research</a>
    <a href="/downloads" class="navbar-link">Downloads</a>
    <a href="/support" class="navbar-link">Support Us</a>
    <a href="/contact" class="navbar-link contact-button">Contact</a>
  </div>
</nav>


{{!-- social media div --}}
<div class="icon-float">
  <ul>
    <li><a href="" class="fb1">
        <i class="fab fa-facebook-f"></i>
      </a></li>
    <li>
      <a href="" class="twt">
        <i class="fab fa-twitter"></i>

      </a>
    </li>
    <li>
      <a href="" class="gemail">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li>
      <a href="" class="wat">
        <i class="fab fa-whatsapp"></i>
      </a>
    </li>
    <li>
      <a href="" class="inst">
        <i class="fab fa-instagram"></i>

      </a>
    </li>
  </ul>
</div>
{{!-- social media div --}}