<nav class="navbar">
  <a style="width: 112.5px;" href="/">
    <img src="/assets/images/logo.png" alt="Wove Dance Feel logo" class="navbar-logo" />
  </a>
  <div>
    <a href="/" class="navbar-link">Home</a>
    <a href="/about" class="navbar-link">About</a>
    <a href="/events" class="navbar-link">Take Part</a>
    <a href="/research" class="navbar-link">Research</a>
    <a href="/downloads" class="navbar-link">Downloads</a>
    <a href="/support" class="navbar-link">Support Us</a>
    <a href="/contact" class="navbar-link">Contact</a>
  </div>
</nav>